@use "sass:color";

$tile-border: 0.125rem;
$tile-size: 1rem;
$row-height: $tile-size + 2 * $tile-border;

$snake-tail-color: #d66;

%tile-base {
  border: $tile-border solid;
  width: $tile-size;
  height: $tile-size;
}

@mixin colored-tile($color, $darken: -50%, $saturate: 50%) {
  @extend %tile-base;

  $lighter: color.scale($color, $lightness: 50%);
  $darker: color.scale($color, $lightness: $darken);
  $highlight: color.scale($lighter, $saturation: $saturate);
  $shading: color.scale($darker, $saturation: -50%);

  background-color: $color;
  border-color: $highlight $shading $shading $highlight;
}

@mixin bulging-tile($bulge, $brighten) {
  $bulgeColor: color.scale($snake-tail-color, $lightness: $brighten);

  @include colored-tile($bulgeColor);

  position: relative;
  width: calc($tile-size + $bulge);
  height: calc($tile-size + $bulge);
  right: $bulge / 2;
  bottom: $bulge / 2;
}

.row {
  display: flex;
  flex-direction: row;
  height: $row-height;
}

/* Empty (non-wall) tile, and also the background tile behind all other tiles. */
.background-tile {
  display: inline-block;

  @include colored-tile(#ddf, -20%);
}

.tile {
  display: block;
  margin: -$tile-border;

  &.wall {
    @include colored-tile(#aaa, -60%, 0%);
  }

  &.snake {
    &.head {
      @include colored-tile(#922);
    }

    &.tail {
      @include colored-tile($snake-tail-color);
    }

    &.digest {
      @include bulging-tile(0rem, 0%);

      &.bulge-1 {
        // 5
        @include bulging-tile(0.3125rem, 10%);
      }

      &.bulge-2 {
        // 10
        @include bulging-tile(0.625rem, 20%);
      }

      &.bulge-3 {
        // 8
        @include bulging-tile(0.5rem, 10%);
      }

      &.bulge-4 {
        // 6
        @include bulging-tile(0.375rem, 0%);
      }
      &.bulge-5 {
        // 4
        @include bulging-tile(0.25rem, -10%);
      }
    }

    &.dead {
      @include colored-tile(#753);
    }
  }

  &.pill {
    position: relative;

    &.green {
      @include colored-tile(#5b5);
    }

    &.blue {
      @include colored-tile(#77f);
    }

    &.yellow {
      @include colored-tile(#dd5);
    }

    &.pink {
      @include colored-tile(#d6d);
    }

    &.teal {
      @include colored-tile(#4cc);
    }
  }
}
