$tile-border: 0.125rem;
$tile-size: 1rem;
$row-height: calc($tile-size + 2 * $tile-border);

$snake-head-color: #922;
$snake-tail-color: #d66;

// Config for generating animation classes for bulging snake HEAD
$head-bulge-config: (
  "color": $snake-head-color,
  "bulges": (
    "1": (
      "size": 0.75rem,
      "brightness": 30%,
    ),
    "2": (
      "size": 0.5rem,
      "brightness": 15%,
    ),
  ),
);

// Config for generating animation classes for bulging snake TAIL
// Number of bulge entries must correspond with Metabolism.maxBulgeLength
$tail-bulge-config: (
  "color": $snake-tail-color,
  "bulges": (
    "1": (
      "size": 0.3125rem,
      "brightness": 10%,
      "degrees": 5deg,
    ),
    "2": (
      "size": 0.625rem,
      "brightness": 20%,
      "degrees": 10deg,
    ),
    "3": (
      "size": 0.4375rem,
      "brightness": 15%,
      "degrees": 6deg,
    ),
    "4": (
      "size": 0.25rem,
      "brightness": 10%,
      "degrees": 4deg,
    ),
  ),
);

%tile-base {
  border: $tile-border solid;
  width: $tile-size;
  height: $tile-size;
}

.row {
  display: flex;
  flex-direction: row;
  height: $row-height;
}

/* Empty (non-wall) tile, and also the background tile behind all other tiles. */
.background-tile {
  display: inline-block;

  @include colored-tile(#ddf, -20%);
}

.tile {
  display: block;
  margin: -$tile-border;

  &.wall {
    @include colored-tile(#aaa, -60%, 0%);
  }

  &.snake {
    &.head {
      @include bulging-tile($head-bulge-config);
    }

    &.tail {
      @include bulging-tile($tail-bulge-config);
    }

    &.dead {
      @include colored-tile(#753);
    }
  }

  &.pill {
    position: relative;

    &.green {
      @include colored-tile(#5b5);
    }

    &.blue {
      @include colored-tile(#77f);
    }

    &.yellow {
      @include colored-tile(#dd5);
    }

    &.pink {
      @include colored-tile(#d6d);
    }

    &.teal {
      @include colored-tile(#4cc);
    }
  }
}
