body {
  font-family: 'Source Sans Pro', 'Trebuchet MS', 'Lucida Grande', 'Bitstream Vera Sans', 'Helvetica Neue', sans-serif;
  font-size: 1rem;
  margin: 0 auto;
  text-align: center;
  color: #336;
  width: 40rem;
}

/* * * * * * * * * * * * * * * * */
/* Titles and scoreboard styling */

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: solid 1px #DDD;
  width: 100%;
  justify-content: center;
  margin-bottom: 1rem;
}

.header-icon {
  font-size: 4rem;
  margin: 0 1rem 0 4rem;
}

.header-texts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.header-texts-title {
  font-size: 2rem;
}

.header-texts-subtitle {
  width: 18rem;
  display: flex;
  font-size: 1rem;
  color: #AAA;
  font-style: italic;
}

.scoreboard-row {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.scoreboard {
  display: flex;
  flex-direction: column;
  font-size: 0.875rem;
}

/* * * * * * * * * * * * * * * * */
/* Info modal styling */

.modal {
  position: absolute;
  top: 15rem;
  background-color: #fff;
  opacity: 1;
  padding: 1rem;
  border: 1px solid #555;
  min-width: 10rem;
  max-width: 26rem;
}

.modal-title {
  font-weight: 800;
  color: #55c;
  margin-bottom: 0.5rem;
}

.red-text {
  color: #a33;
}

.blue-text {
  color: #55c;
}

.grey-text {
  color: #AAA;
}

.modal-text {
  font-size: 0.875rem;
  margin-bottom: 1rem;
}

/* * * * * * * * * * * * * * * * */
/* Map and snake styling */

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row {
  display: flex;
  flex-direction: row;
  height: 20px;
}


.tile {
  border: 2px solid;
  width: 16px;
  height: 16px;
}

/* Used for open (non-wall) tiles,
 * and also as the background tile behind all other tiles.
 */
.outer-tile {
  display: inline-block;
  background-color: #eef;
  border-color: #fff #aad #aad #fff;
}

.inner-tile {
  display: block;
  margin: -2px;
}

.wall {
  background-color: #bbb;
  border-color: #ddd #666 #666 #ddd;
}

.snake-head {
  background: #a33;
  border-color: #daa #644 #644 #daa;
}
.snake-body {
  background: #d88;
  border-color: #fbb #422 #422 #fbb;
}

.snake-dead {
  background: #753;
  border-color: #875 #211 #211 #875;
}

.pill {
  background-image: url('/pill.ico');
  background-size: 16px;
  border-color: inherit;
}

/* * * * * * * * * * * * * * * * */
/* Footer info styling */

.instructions {
  margin: 2rem 0 0.5rem;
  width: 100%;
}

.arrow-icons {
  margin: 0.5rem 0;
}
.arrow-icon {
  margin: 0 0.25rem;
}

.github {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: center;
  font-size: 0.875rem;
  padding-top: 1rem;
  border-top: solid 1px #ddd;
}
