body {
  font-family: 'Source Sans Pro', 'Trebuchet MS', 'Lucida Grande', 'Bitstream Vera Sans', 'Helvetica Neue', sans-serif;
  font-size: 1rem;
  margin: 0 auto;
  text-align: center;
  color: #293c4b;
  width: 40rem;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: solid 1px #DDD;
  width: 100%;
  justify-content: center;
}

.header-icon {
  font-size: 4rem;
  margin-right: 1rem;
}

.header-texts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.header-texts-title {
  font-size: 2rem;
}

.header-texts-subtitle {
  font-size: 1rem;
  color: #AAA;
  font-style: italic;
}

.scores {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 1rem;
  margin-top: 1.5rem;
}

.instructions {
  margin: 2rem 0 0.5rem;
  padding-top: 1rem;
  border-top: solid 1px #ddd;
  width: 100%;
}

.instructions-arrow-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0.5rem 0;
}

.info {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding-top: 1rem;
  border-top: solid 1px #ddd;
}

.game-over {
  margin-top: 1rem;
  margin-bottom: -1rem;
}

.game-over-text {
  font-weight: 800;
  color: #a33;
  margin-bottom: 1rem;
}


.row {
  height: 16px;
}

.tile {
  display: inline-block;
  border: 1px solid;
  width: 14px;
  height: 14px;
}

.open {
  background-color: #effffe;
  border-color: #fff #adddda #adddda #fff;
}

.wall {
  background-color: #bbb;
  border-color: #ddd #666 #666 #ddd;
}

.snake-head {
  background: #a33;
  border-color: #fdd #644 #644 #fdd;
}
.snake-body {
  background: #d88;
  border-color: #caa #422 #422 #caa;
}

.snake-dead {
  background: #753;
  border-color: #875 #211 #211 #875;
}

.food {
  background-image: url('/food.ico');
  background-size: 14px;
  border-color: white;
}

.game {
  display: flex;
  align-items: center;
  flex-direction: column;
}
