@use "sass:color";

$default-font: 'Source Sans Pro', 'Trebuchet MS', 'Lucida Grande', 'Bitstream Vera Sans', 'Helvetica Neue', sans-serif;
$monospace-font: 'Monaco', 'Fira Mono', 'DejaVu Sans Mono', 'Menlo', monospace;

$divider-color: #DDD;

body {
  font-family: $default-font;
  font-size: 1rem;
  margin: 0 auto;
  text-align: center;
  color: #336;
  width: 40rem;
}

.red-text {
  color: #a33;
}

.blue-text {
  color: #55c;
}

.grey-text {
  color: #999;
}


/* * * * * * * * * * * * * * * * */
/* Header styling */
/* * * * * * * * * * * * * * * * */

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: solid 1px $divider-color;
  width: 100%;
  justify-content: center;
  margin-bottom: 1rem;

  .icon {
    font-size: 4rem;
    margin: 0 1rem 0 4rem;
  }

  .titles {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-width: 16rem;
  }

  .title {
    font-size: 2rem;
  }

  .subtitle {
    @extend .grey-text;
    display: flex;
    font-size: 1rem;
    font-style: italic;
  }
}



/* * * * * * * * * * * * * * * * */
/* Info modal styling */
/* * * * * * * * * * * * * * * * */

@mixin box-shadow($x-axis, $y-axis, $blur, $color) {
    -webkit-box-shadow: $x-axis $y-axis $blur $color;
    -moz-box-shadow: $x-axis $y-axis $blur $color;
    box-shadow: $x-axis $y-axis $blur $color;
}

.modal {
  @include box-shadow(0.25rem, 0.5rem, 1.5rem, #000);
  position: absolute;
  top: 15rem;
  background-color: #fff;
  padding: 1rem;
  border: 1px solid #555;
  min-width: 10rem;
  max-width: 26rem;

  .title {
    font-weight: 800;
    color: #55c;
    margin-bottom: 0.5rem;
  }

  .text {
    font-size: 0.875rem;
    margin-bottom: 1rem;
  }
}

.arrow-icons {
  margin: 0.5rem 0;
}
.arrow-icon {
  margin: 0 0.25rem;
}


/* * * * * * * * * * * * * * * * */
/* Map and snake styling */
/* * * * * * * * * * * * * * * * */

$tile-border: 2px;
$tile-size: 16px;
$row-height: $tile-size + $tile-border + $tile-border;

%tile-base {
  border: $tile-border solid;
  width: $tile-size;
  height: $tile-size;
}

@mixin colored-tile($color, $darken: -50%, $saturate: 50%) {
  @extend %tile-base;
  $lighter: color.scale($color, $lightness: 50%);
  $darker: color.scale($color, $lightness: $darken);
  $highlight: color.scale($lighter, $saturation: $saturate);
  $shading: color.scale($darker, $saturation: -50%);
  background-color: $color;
  border-color: $highlight $shading $shading $highlight;
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row {
  display: flex;
  flex-direction: row;
  height: $row-height;
}

/* Open (non-wall) tile, and the background tile behind all other tiles. */
.outer-tile {
  display: inline-block;
  @include colored-tile(#ddf, -20%);
}

.inner-tile {
  @extend %tile-base;
  display: block;
  margin: -$tile-border;
}

.wall {
  @include colored-tile(#aaa, -60%, 0%);
}

.snake-head {
  @include colored-tile(#a33);
}
.snake-body {
  @include colored-tile(#d66);
}

.snake-dead {
  @include colored-tile(#753);
}

.pill {
  @include colored-tile(#5b5);
}


/* * * * * * * * * * * * * * * * */
/* Scoreboard styling */
/* * * * * * * * * * * * * * * * */

.scoreboards {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
  font-family: $monospace-font;
}

.scoreboard-divider {
  width: 1px;
  height: inherit;
  background-color: $divider-color;
}

.scoreboard {
  display: flex;
  flex-direction: column;
  font-size: 0.875rem;

  .score {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: 15rem;
  }
}


/* * * * * * * * * * * * * * * * */
/* Footer info styling */
/* * * * * * * * * * * * * * * * */

.github {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: center;
  font-size: 0.875rem;
  padding-top: 1.5rem;
  border-top: solid 1px $divider-color;
}
