@use "sass:color";

$default-font: 'Source Sans Pro', 'Trebuchet MS', 'Lucida Grande', 'Bitstream Vera Sans', 'Helvetica Neue', sans-serif;
$monospace-font: 'Monaco', 'Fira Mono', 'DejaVu Sans Mono', 'Menlo', monospace;

$divider-color: #DDD;

body {
  font-family: $default-font;
  font-size: 1rem;
  margin: 0 auto;
  text-align: center;
  color: #336;
  width: 40rem;
}

.red-text {
  color: #a33;
}

.blue-text {
  color: #55c;
}

.grey-text {
  color: #999;
}


/* * * * * * * * * * * * * * * * */
/* Header styling */
/* * * * * * * * * * * * * * * * */

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: solid 1px $divider-color;
  width: 100%;
  justify-content: center;
  margin-bottom: 1rem;

  .icon {
    font-size: 4rem;
    margin: 0 1rem 0 4rem;
  }

  .titles {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-width: 16rem;
  }

  .title {
    font-size: 2rem;
  }

  .subtitle {
    @extend .grey-text;
    display: flex;
    font-size: 1rem;
    font-style: italic;
  }
}



/* * * * * * * * * * * * * * * * */
/* Info modal styling */
/* * * * * * * * * * * * * * * * */

@mixin box-shadow($x-axis, $y-axis, $blur, $color) {
  -webkit-box-shadow: $x-axis $y-axis $blur $color;
  -moz-box-shadow: $x-axis $y-axis $blur $color;
  box-shadow: $x-axis $y-axis $blur $color;
}

@mixin corner-icon($up, $left) {
  position: absolute;
  @if $up {
    top: 0.25rem;
  } @else {
    bottom: 0.25rem;
  }
  @if $left {
    left: 0.5rem;
  } @else {
    right: 0.5rem;
  }

}

.modal {
  @include box-shadow(0.25rem, 0.5rem, 1.5rem, #000);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 15rem;
  background-color: #fff;
  padding: 1rem;
  border: 1px solid #555;
  min-width: 14rem;
  max-width: 24rem;

  .corner-icons {
    color: #777;

    .up-left {
      @include corner-icon(true, true);
    }

    .up-right {
      @include corner-icon(true, false);
    }

    .down-left {
      @include corner-icon(false, true);
    }

    .down-right {
      @include corner-icon(false, false);
    }
  }

  .title {
    font-weight: 800;
    color: #55c;
    margin-bottom: 0.5rem;

    &.red {
      @extend .red-text;
    }
  }

  .text {
    font-size: 0.875rem;
    margin-bottom: 1rem;
  }

  .arrow-icons {
    margin: 0.5rem 0;
  }
  .arrow-icon {
    margin: 0 0.25rem;
  }
}




/* * * * * * * * * * * * * * * * */
/* Map and snake styling */
/* * * * * * * * * * * * * * * * */

$tile-border: 0.125rem;
$tile-size: 1rem;
$row-height: $tile-size + $tile-border + $tile-border;

%tile-base {
  border: $tile-border solid;
  width: $tile-size;
  height: $tile-size;
}

@mixin colored-tile($color, $darken: -50%, $saturate: 50%) {
  @extend %tile-base;
  $lighter: color.scale($color, $lightness: 50%);
  $darker: color.scale($color, $lightness: $darken);
  $highlight: color.scale($lighter, $saturation: $saturate);
  $shading: color.scale($darker, $saturation: -50%);
  background-color: $color;
  border-color: $highlight $shading $shading $highlight;
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row {
  display: flex;
  flex-direction: row;
  height: $row-height;
}

/* Open (non-wall) tile, and the background tile behind all other tiles. */
.outer-tile {
  display: inline-block;
  @include colored-tile(#ddf, -20%);
}

.inner-tile {
  @extend %tile-base;
  display: block;
  margin: -$tile-border;
}

.wall {
  @include colored-tile(#aaa, -60%, 0%);
}

.snake-head {
  @include colored-tile(#922);
}

.snake-tail {
  @include colored-tile(#d66);
}

.snake-dead {
  @include colored-tile(#753);
}

.pill {
  position: relative;

  &.green {
    @include colored-tile(#5b5);
  }

  &.blue {
    @include colored-tile(#77f);
  }

  &.yellow {
    @include colored-tile(#dd5);
  }

  &.pink {
    @include colored-tile(#d6d);
  }

  &.teal {
    @include colored-tile(#4cc);
  }
}


/* * * * * * * * * * * * * * * * */
/* Stats styling */
/* * * * * * * * * * * * * * * * */

.stats-overview {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
  font-family: $monospace-font;
}

.stats-divider {
  width: 1px;
  height: inherit;
  background-color: $divider-color;
}

.stats {
  display: flex;
  flex-direction: column;
  font-size: 0.875rem;
  min-width: 16.5rem;

  .stat-and-arrow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .stat {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      min-width: 15rem;
    }

    .arrow-up {
      margin: 0 0.5rem;
      position: relative;
      width: 0.75rem;
    }

    .highlight {
      font-weight: 800;
      color: #191;
      font-style: italic;
    }
  }
}


/* * * * * * * * * * * * * * * * */
/* Footer info styling */
/* * * * * * * * * * * * * * * * */

.github {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: center;
  font-size: 0.875rem;
  padding-top: 1.5rem;
  border-top: solid 1px $divider-color;
}
